@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

// FONT
$default-font-family: 'Noto Sans JP', sans-serif;
$default-font-size: 62.5%;

// COLOR
$color-primary: #3c73e9;

$color-white: #fff;
$color-black: #000;

$color-gray: #f2f4fa;
$color-gray-dark: #24292e;