// HEADING
.heading {
    color: $color-black;

    &-primary {
        font-size: 2.5rem;
    
        &::before {
            content: "";
            border-left: 4px solid $color-primary;
            padding-left: .6rem;
        }
    }
    
    &-title {
        font-size: 1.6rem;
    }
}

// PARAGRAPH
.paragraph {
    font-weight: 300;
}

.link {
    font-size: 1.3rem;
    color: $color-primary;
}